body {
  margin: 0;
  padding: 0;
  background-image: url('/images/header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.left-container {
    padding-top: 37px;
    height: 1024px;
    width: 200px;
    background: #00A843;
}

.editable {
    background-image: linear-gradient(-180deg, #F2F2F2 0%, #D4D4D4 100%);
    border: 1px solid #979797;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20), inset 0 2px 0 0 #FFFFFF;
    border-radius: 3px;
}